@model ETCoffee.Models.tblProducts


<div class="container">

    @using (Html.BeginForm())
    {

        <br /><br /><br />
        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" name="id" value="@Model.ProID" />
                <img src="~/Uploads/@Model.Image" style="height:250px;width:250px;" />
            </div>

            <div class="col-lg-6" style="color:white;">
                <h3 style="color:white;">@Model.Name</h3>
                <p>@Model.Description</p>
                <p><strong>@Model.Unit</strong>$</p>
                <input type="number" min="1" max="10" name="qty" />
                <input type="submit" value="Add to Cart" class="btn btn-success" />
            </div>

        </div>

    }
</div>

