@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/css/bootstrap/style.css">
<section class="home">

    <div class="slides-container">

        <div style="text-align:center;" class="slide active">
            <div class="content">
                <span style="color:white;font-size:80px;font-family:Gabriola;">“I like my coffee like I like myself:<br /> strong, sweet, and too hot for you.”</span><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a style="background-color:chocolate;" href="@Url.Action("product","Home")" class="btn ftco-animate fade ftco-animate" ><span style="color:black;">Experience Our Taste</span></a>
            </div>

        </div>



    </div>
</section>



